---
import Layout from '@layouts/Layout.astro'
import Bookmark from '@components/Bookmark.astro'

import { getCollection, getEntries } from 'astro:content'

const title = "welcome to the smooth verse"

const bookmarks_collection = await getCollection('bookmarks')
const bookmarks = await getEntries(bookmarks_collection)
---

<Layout {title}>
<div class="flex justify-center">
  <ul class="text-green flex flex-row">
    {bookmarks.map(item => <Bookmark {item} />)}
  </ul>
</div>
</Layout>
