---
import Layout from '@layouts/Layout.astro'
import BookmarksList from '@components/BookmarksList.astro'

const title = "welcome to the smooth verse"
---

<Layout {title}>
<div class="container mx-auto flex justify-center">
  <BookmarksList transition:persist />
</div>
</Layout>
