---
import Layout from '@layouts/Layout.astro'
import BookmarksList from '@components/BookmarksList.astro'

const title = "welcome to the smooth verse"
// TODO: Need to make <BookmarksList /> so updating the content folder is dynamic
---

<Layout {title}>
<div class="flex justify-center">
  <BookmarksList />
</div>
</Layout>
