---
const { url, label } = Astro.props.item

const { searchParams } = Astro.url

const filter = (searchParams.get('filter')) ? searchParams.get('filter') : 'all'
---
<li>
  <a href={url} class:list={[(label == filter) ? 'active' : '']}>
    {label}
  </a>
</li>

<style lang="postcss">
li {
  @apply mx-3 block relative;
}

li a {
  @apply lowercase text-purple-500 relative text-2xl text-center block px-3;
}

li a::after {
  @apply absolute origin-center -bottom-1 h-[2px] w-0;
  @apply left-1/2 -translate-x-1/2;
  @apply transition-all;
  @apply bg-pink;
  content: '';
}

li a.active, li a:hover {
  @apply text-pink;
}

li a:hover::after, li a.active::after {
  @apply w-full;
}
</style>
