---
const { url, label } = Astro.props.item
---
<li>
  <a href={url}>
    {label}
  </a>
</li>

<style lang="postcss">
li {
  @apply mr-2 last:mr-0;
}

li a {
  @apply lowercase text-pink relative text-2xl;
}

li a::after {
  @apply absolute origin-center -bottom-1 left-1/2 transition-all -translate-x-1/2 h-[1px] w-0;
  @apply bg-pink;
  content: ' ';
}

li a:hover::after {
  @apply w-full;
}
</style>
